<!-- Registration Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				  <a class="navbar-brand" href="home.html">
					<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
				  </a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
					 <li class="nav-item">
						<a class="nav-link" href="home.html">Home</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="team_stats.html">Season Stats <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item active">
						<a class="nav-link" href="player_info.html">Player Information</a>
					  </li>
					  <li class="nav-item">
							<a class="nav-link" href="register.html">Register</a>
					  </li>
					</ul>
					<div class="form-inline my-2 my-lg-0">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
					</div>
				  </div>
				</nav>
	<img src="../resources/img/beproudcapaabanner.jpg" class="img-fluid" alt="Registration Page Banner for CU Football">
    <br>
	<br>
	<div class="container">
		<form action="home.html">
			<!--
				Todo: Create a form with the following fields:
					1. Name Text Field
					2. Email Text Field
					3. Password Text Field
					4. Password Confirmation Text Field
					5. Email Text Field
					6. CU Boulder Alumni Radio Button
					7. CU Boulder Student Radio Button
					8. CU Boulder Undergrad/Grad Radio Button
					9. Undergraduate Select (Freshman-Senior)
					10. Graduate Select (MA, MBA, PhD)
					11. Submit Button (links to home page)

			-->
			<form>
				<div class="form-group">
					<label for="exampleInputPassword1">Full Name</label>
					<input type="fullName" class="form-control" id="exampleName" placeholder="Name">
				  </div>
				<div class="form-group">
				  <label for="exampleInputEmail1">Email address</label>
				  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
				<div class="form-group">
				  <label for="exampleInputPassword1">Password</label>
				  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
						<label for="exampleInputPassword1">Confirm Password</label>
						<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
					  </div>
					  <div>
						  CU Boulder Alumni:
						<input type="radio" name="choice" value="1" checked> Yes
						<input type="radio" name="choice" value="2"> No
					</div>
					<div>
						CU Boulder Student:
					  <input type="radio" name="alumni" value="1" checked> Yes
					  <input type="radio" name="alumni" value="2"> No
					</div>
					<div>
						Student Status:
						<br>
						  <input style = "margin-left:30px" type="radio" name="alumni" value="1" checked> Undergrad
						  <select  name="select_choice">
								<option selected>Pick an Option</option>
								<option value="1">Freshman</option>
								<option value="2">Sophmore</option>
								<option value="3">Junior</option>
								<option value="3">Senior</option>
						  </select>
						  <br> 
						  <input style = "margin-left:30px" type="radio" name="alumni" value="2"> Grad
						  <select name="select_choice">
								<option selected>Select Student Status</option>
								<option value="1">MA</option>
								<option value="2">MBA</option>
								<option value="3">PhD</option>
							  </select>
							  <br>
						  <input style = "margin-left:30px" type="radio" name="alumni" value="3"> NA
						</div>
						<br>
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
		</form>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
